body {
  background-color: $color-primary;
  color: $color-fontPrimary;
}

span {
  color: $color-orange;
}
table {
  border-collapse: collapse;
}

@font-face {
  font-family: BebasNeue;
  src: url(/public/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: AvenirNextCyr;
  src: url(/public/AvenirNextCyr-Regular.ttf);
}
